@page "/band-series-demo"
@rendermode InteractiveWebAssembly

<PageTitle>Band Series Chart</PageTitle>
<h1>Band Series Chart</h1>

<p>This page demonstrates band series in SciChart.</p>

<div style="display: flex">
    <div id="demo" style="width: 600px;">
        <SciChartSurface HeightAspect="2" WidthAspect="3">
            <XAxes>
                <NumericAxis VisibleRange="@(new NumberRange { Min = 0, Max = 14 })" />
            </XAxes>
            <YAxes>
                <NumericAxis />
            </YAxes>
            <FastBandRenderableSeries
                Id="band1"
                Fill="#4CAF5033"
                FillY1="#2196F333"
                Stroke="#4CAF50"
                StrokeY1="#2196F3"
                StrokeThickness="2"
                SeriesName="Fast Band">
                <BandSeriesDataLabelProvider
                    MetadataSelector="(metadata) => metadata?.customText ?? 'N/A'"
                    SingleLabel="true"
                    IsEnabled="true"
                    PointCountThreshold="20"
                    Style="@(new TDataLabelStyle { FontSize = 12 })"
                    Color="white" />
                <XyyDataSeries @ref="_xyyDataSeriesBand1Ref" XValues="@xData" YValues="@yData" Y1Values="@y1Data" Metadata="@metadata" />
            </FastBandRenderableSeries>
            <SplineBandRenderableSeries
                Id="splineBand1"
                Fill="#FF572233"
                FillY1="#FFC10733"
                Stroke="#FF5722"
                StrokeY1="#FFC107"
                StrokeThickness="2"
                InterpolationPoints="10"
                SeriesName="Spline Band">
                <XyyDataSeries @ref="_xyyDataSeriesSplineBand1Ref" XValues="@xData" YValues="@yData2" Y1Values="@y1Data2" />
            </SplineBandRenderableSeries>
            <MouseWheelZoomModifier />
            <ZoomPanModifier />
        </SciChartSurface>
    </div>
    <div style="margin-left: 20px;">
        <button type="button" class="btn btn-secondary mt-2" @onclick="AppendData">
            Append Data
        </button>
        <br />
        <button type="button" class="btn btn-secondary mt-2" @onclick="AppendDataByPointer">
            Append Data By Pointer
        </button>
        <br />
        <div class="mt-3">
            <h5>Description:</h5>
            <ul style="font-size: 0.9em;">
                <li>Green/Blue series is FastBandRenderableSeries with data labels</li>
                <li>Orange/Yellow series is SplineBandRenderableSeries with smooth curves</li>
                <li>Data labels display metadata customText for each point</li>
                <li>SingleLabel mode shows one label in the center of the band</li>
            </ul>
        </div>
    </div>
</div>
