@page "/smooth-stacked-mountain-demo"
@rendermode InteractiveWebAssembly

<PageTitle>Smooth Stacked Mountain Chart</PageTitle>

<h1>Smooth Stacked Mountain Chart</h1>

<p>This example demonstrates smooth stacked mountain (area) charts with interpolated curves between data points.</p>
<div style="display: flex">
    <div id="demo" style="width: 600px;">
        <SciChartSurface @ref="_sciChartRef" HeightAspect="2" WidthAspect="3">
            <XAxes>
                <NumericAxis Id="xAxis" AxisTitle="X Axis" VisibleRange="@(new NumberRange { Min = 0, Max = 12 })" />
            </XAxes>
            <YAxes>
                <NumericAxis Id="yAxis" AxisTitle="Y Axis" />
            </YAxes>

            <StackedMountainCollection IsOneHundredPercent="@_isOneHundredPercent" XAxisId="xAxis" YAxisId="yAxis">
                <SmoothStackedMountainRenderableSeries
                    Id="smoothSeries1"
                    Fill="rgba(70, 130, 180, 0.5)"
                    Stroke="#4682B4"
                    StrokeThickness="2"
                    SeriesName="Smooth Series 1"
                    InterpolationPoints="20"
                    Curvature="0.5">
                    <XyDataSeries @ref="_xyDataSeriesSmoothSeries1Ref" XValues="@_xData" YValues="@_yData1" />
                </SmoothStackedMountainRenderableSeries>

                <SmoothStackedMountainRenderableSeries
                    Id="smoothSeries2"
                    Fill="rgba(255, 140, 0, 0.5)"
                    Stroke="#FF8C00"
                    StrokeThickness="2"
                    SeriesName="Smooth Series 2"
                    InterpolationPoints="20"
                    Curvature="0.5">
                    <XyDataSeries @ref="_xyDataSeriesSmoothSeries2Ref" XValues="@_xData" YValues="@_yData2" />
                </SmoothStackedMountainRenderableSeries>

                <SmoothStackedMountainRenderableSeries
                    Id="smoothSeries3"
                    Fill="rgba(50, 205, 50, 0.5)"
                    Stroke="#32CD32"
                    StrokeThickness="2"
                    SeriesName="Smooth Series 3"
                    InterpolationPoints="20"
                    Curvature="0.5">
                    <XyDataSeries @ref="_xyDataSeriesSmoothSeries3Ref" XValues="@_xData" YValues="@_yData3" />
                </SmoothStackedMountainRenderableSeries>
            </StackedMountainCollection>

            <MouseWheelZoomModifier />
            <ZoomPanModifier />
        </SciChartSurface>
    </div>
    <div>
        <button type="button" class="btn btn-secondary mt-2 ms-2" @onclick="AppendData">
            Append Data
        </button>
        <br />
        <button type="button" class="btn btn-secondary mt-2 ms-2" @onclick="AppendDataByPointer">
            Append Data By Pointer
        </button>
    </div>
</div>

<div style="margin-top: 20px;">
    <label>
        <input type="checkbox" @bind="_isOneHundredPercent" @bind:after="OnStackingModeChanged" />
        Use 100% Stacking Mode
    </label>
</div>
